node_modules
*.log*
.nuxt
.nitro
.cache
.eslintcache
.output
.env
dist
dist-electron

cypress.env.json
cypress/videos/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
