@import "design-tokens/colors.generated.css";
@import "icons/playing.animation.css";

html,
body,
#__nuxt {
  /* 
	 * To make sure the app always has
	 * at least the full screen height 
	 */
  height: 100%;
}

html {
  /** This makes typography look as designed. Has the biggest effect on macOS. **/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-shadow {
  box-shadow:
    0px 4px 80px 0px #0000001a,
    0px 4px 12px 0px #0000000d,
    0px 1px 4px 0px #0000000d,
    0px 0px 0px 1px #0000000d;
}
.dark .large-shadow {
  box-shadow:
    0px 4px 80px 0px #00000066,
    0px 4px 12px 0px #00000040,
    0px 1px 4px 0px #0000000d,
    0px 0px 0px 1px #ffffff14;
}
