:root {
  --playing-animation-speed: 1.5s;
}

.bars-playing .morphing-bar {
  transform-origin: center;
  animation: morphingBar var(--playing-animation-speed) ease-in-out infinite;
  transform: scaleY(0.5);
}

.animation-paused .bars-playing .morphing-bar {
  animation-play-state: paused;
}

.bars-playing .morphing-bar-left {
  animation-delay: calc(var(--playing-animation-speed));
}

.bars-playing .morphing-bar-center {
  animation-delay: calc(var(--playing-animation-speed) / 2.5);
}

.bars-playing .morphing-bar-right {
  animation-delay: calc(var(--playing-animation-speed) / 5);
}

@keyframes morphingBar {
  0%,
  100% {
    transform: scaleY(0.5);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
  75% {
    transform: scaleY(0.75);
  }
}
