:root {
  --playing-animation-speed: 0.75s;
}

.bars-playing .morphing-bar {
  transform-origin: center;
  animation: morphingBar var(--playing-animation-speed) ease-in-out infinite;
}

.bars-playing .morphing-bar-left {
  animation-delay: calc(var(--playing-animation-speed) / 2.5);
}

.bars-playing .morphing-bar-center {
  animation-delay: calc(var(--playing-animation-speed) / 5);
}

.bars-playing .morphing-bar-right {
  animation-delay: calc(var(--playing-animation-speed) / 7.5);
}

@keyframes morphingBar {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}
