name: Build and deploy

permissions: read-all

on:
  push:
    branches:
      - main
    tags:
      - v0.**
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_test:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Install dependencies
        run: pnpm install
      - name: Run linters
        run: pnpm lint
      - name: Test and create coverage
        run: pnpm coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
      - name: Build for production
        run: pnpm build
      - name: E2E testing
        uses: cypress-io/github-action@v5
        env:
          CYPRESS_LOGIN_USERNAME: ${{ secrets.CYPRESS_LOGIN_USERNAME }}
          CYPRESS_LOGIN_PASSWORD: ${{ secrets.CYPRESS_LOGIN_PASSWORD }}
        with:
          start: pnpm preview
          wait-on: "http://localhost:9001"

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: .output/public
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: coverage

  deploy_azure_static_web_apps:
    runs-on: ubuntu-latest
    needs: build_and_test
    name: Deploy to Azure Static Web Apps
    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist
      - name: Deploy
        uses: Azure/static-web-apps-deploy@v1
        continue-on-error: true
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_PEBBLE_009136D03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          skip_app_build: true
          app_location: "/"
          output_location: ""
          ###### End of Repository/Build Configurations ######
        env:
          SKIP_DEPLOY_ON_MISSING_SECRETS: true

  remove_azure_static_web_apps_when_pr_closed:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Remove Azure Static Web App
    steps:
      - name: Remove the Azure Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_PEBBLE_009136D03 }}
          action: "close"

  build-electron-app:
    uses: ./.github/workflows/electron.yml
